<?xml version="1.0" encoding="utf-8"?>
<!--
/* Copyright (c) 2005-2008, Schley Andrew Kutz <akutz@lostcreations.com>
All rights reserved.

Redistribution and use in source and binary forms, with or without modification,
are permitted provided that the following conditions are met:

    * Redistributions of source code must retain the above copyright notice,
    this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above copyright notice,
    this list of conditions and the following disclaimer in the documentation
    and/or other materials provided with the distribution.
    * Neither the name of l o s t c r e a t i o n s nor the names of its 
    contributors may be used to endorse or promote products derived from this 
    software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
*/
-->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Sudowin.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="pluginConfigurationUri" value="pluginConfiguration.xml" />
    <add key="pluginConfigurationSchemaUri" value="pluginconfigurationschema.xsd" />
    <!--
			fully qualified path to the sudo callback application.  this is used
			by the sudo server to launch processes in the current context of the
			user who invoked a sudo client.
			
			this is REQUIRED for windows xp and windows 2000.  windows server 2003, 
			windows vista, and windows server longhorn do not use a callback 
			application.
		-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.runtime.remoting>
    <application>
      <!-- this server is the immortal highlander -->
      <!--<lifetime leaseTime="0" />-->
      <!--
				the sudo server object that clients will access
			-->
      <service>
        <wellknown mode="SingleCall" type="Sudowin.Server.SudoServer, Sudowin.Server" objectUri="sudowinserver.rem" />
      </service>
      <channels>
        <channel type="System.Runtime.Remoting.Channels.Ipc.IpcServerChannel, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" portName="sudowin" secure="True" tokenImpersonationLevel="Impersonation" authorizedGroup="Users">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
            <provider type="System.Runtime.Remoting.Channels.BinaryServerFormatterSinkProvider, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          </serverProviders>
        </channel>
        <channel type="System.Runtime.Remoting.Channels.Ipc.IpcClientChannel, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" portName="sudowin" secure="True" useDefaultCredentials="True">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
            <provider type="System.Runtime.Remoting.Channels.BinaryServerFormatterSinkProvider, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <!-- 
				http://msdn2.microsoft.com/library/b78s988a(en-us,vs.80).aspx
			-->
      <source name="traceSrc" switchValue="ActivityTracing, Verbose">
        <listeners>
          <add initializeData="service.log" type="System.Diagnostics.DelimitedListTraceListener" name="traceListener" traceOutputOptions="DateTime, ProcessId, ThreadId, Timestamp" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>