<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<application>
			<client>
				<wellknown
					type="Sudowin.Common.ISudoServer, Sudowin.Common"
					url="ipc://sudowin/sudowinserver.rem"
				/>
			</client>
			<channels>
				<channel
					type="System.Runtime.Remoting.Channels.Ipc.IpcClientChannel, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					portName="Sudo"
					secure="True"
					useDefaultCredentials="True">

					<serverProviders>
						<formatter ref="binary" />
						<provider
							type="System.Runtime.Remoting.Channels.BinaryServerFormatterSinkProvider, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
						/>
					</serverProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>