<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Sudowin.Clients.Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <system.runtime.remoting>
		<application>
			<client>
				<wellknown
     type="Sudowin.Common.ISudoServer, Sudowin.Common"
     url="ipc://sudowin/sudowinserver.rem"
    />
			</client>
			<channels>
				<channel
     type="System.Runtime.Remoting.Channels.Ipc.IpcClientChannel, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
     portName="Sudo"
     secure="True"
     useDefaultCredentials="True">

					<serverProviders>
						<formatter ref="binary" />
						<provider
       type="System.Runtime.Remoting.Channels.BinaryServerFormatterSinkProvider, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      />
					</serverProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
 <userSettings>
  <Sudowin.Clients.Gui.Properties.Settings>
   <setting name="Disclaimer" serializeAs="String">
    <value>We trust you have received the usual lecture from
the local System Administrator. It usually boils 
down to these three things:

    #1) Respect the privacy of others.
    #2) Think before you type.
    #3) With great power comes great responsibility.</value>
   </setting>
  </Sudowin.Clients.Gui.Properties.Settings>
 </userSettings>
</configuration>